.pos-container {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}



/* Products */
.products {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.product-card button {
  margin-top: 10px;
  width: 100%;
}

/* Order Panel */
.order-panel {
  width: 350px;
  background: #fff;
  padding: 15px;
  border-left: 1px solid #ddd;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.cart-item button {
  width: 25px;
}

.summary {
  margin-top: 15px;
}

.payments {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.payments button {
  flex: 1;
}

.search-group {
  position: relative;
  display: flex;
  align-items: center;
  background: #f5f6ff;
  border-radius: 30px;
  padding: 10px 16px;
  width: 100%;
  max-width: 600px;
}

.search-icon {
  margin-right: 8px;
  color: #666;
}

.search-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 15px;
}

/* DROPDOWN */
.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 6px;
  z-index: 999;
  max-height: 260px;
  overflow-y: auto;
}

/* ITEM ROW */
.search-item {
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-item:hover {
  background: #f2f3ff;
}

.search-item .code {
  font-weight: 600;
  margin-right: 6px;
}

.search-item .name {
  flex: 1;
  margin-left: 4px;
}

.search-item .price {
  font-weight: 600;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background: #fff;
  padding: 20px;
  width: 380px;
  border-radius: 8px;
}

.receipt-paper {
  border: 1px solid #ccc;
  padding: 12px;
  font-family: monospace;
  font-size: 13px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.bold { font-weight: bold; }
.small { font-size: 12px; }
.center { text-align: center; }

@media print {

  @page {
    size: 80mm auto;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  .pos-container,
  .products,
  .order-panel {
    display: none !important;
  }

  #print-receipt,
  #print-receipt * {
    visibility: visible;
  }

  #print-receipt {
    position: fixed;
    left: 0;
    top: 0;
    width: 80mm;
  }

  .no-print {
    display: none !important;
  }
}
